{% extends "base/auth_base.html" %}

{% block title %}OTP verify{% endblock title %}

{% block content %}

<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <form method="POST">
                {% csrf_token %}
            <h6>Please enter the one time password <br> to verify two step authentication</h6>
            <div> <span>A code has been sent to</span> <small>{{user.email}}</small> </div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                <input class="m-2 text-center form-control rounded" type="number" name="otp[0]" id="first" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="number" name="otp[1]" id="second" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="number" name="otp[2]" id="third" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="number" name="otp[3]" id="fourth" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="number" name="otp[4]" id="fifth" maxlength="1" /> 
                <input class="m-2 text-center form-control rounded" type="number" name="otp[5]" id="sixth" maxlength="1" /> 
            </div>
            <div class="mt-4"> <button class="btn btn-danger px-4 validate">Verify</button> </div>
        </form>
        </div>
    </div>
</div>
<style>
    .height-100 {
        height: 100vh
    }
    
    .card {
        width: 400px;
        border: none;
        height: 300px;
        box-shadow: 0px 5px 20px 0px #d2dae3;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center
    }
    
    .card h6 {
        color: #0b4bb3;
        font-size: 20px
    }
    
    .inputs input {
        width: 40px;
        height: 40px
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0
    }
    
    .card-2 {
        background-color: #fff;
        padding: 10px;
        width: 350px;
        height: 100px;
        bottom: -50px;
        left: 20px;
        position: absolute;
        border-radius: 5px
    }
    
    .card-2 .content {
        margin-top: 50px
    }
    
    .card-2 .content a {
        color: #0b4bb3
    }
    
    .form-control:focus {
        box-shadow: none;
        border: 2px solid #0b4bb3
    }
    
    .validate {
        border-radius: 20px;
        height: 40px;
        background-color: #0b4bb3;
        border: 1px solid #0b4bb3;
        width: 140px
    }
</style>
{% endblock content %}